/* Custom Properties */
:root{
 
    --font:'Poppins', sans-serif;
    --max-width:1024px;
    --height-nav:4rem;
      /*Color mode HSL(hue, saturation, lightness)*/
  --hue: 0;
  --sat: 0%;
  --title-color: hsl(var(--hue), var(--sat), 20%);
  --title-color-dark: hsl(var(--hue), var(--sat), 0%);
  --text-color: hsl(var(--hue), var(--sat), 46%);
  --body-color: hsl(var(--hue), var(--sat), 98%);
  --container-color: #fff
}
/* Reset */
html{
    box-sizing: border-box;
    font-family: var(--font);
    font-size: 16px;
    scroll-behavior: smooth;
}
*,
*::after,
*::before{
    box-sizing: inherit;
}

body{
    margin: 0;
    overflow-x: hidden;
 
    background-color: var(--body-color);
    color: var(--text-color);
    fill: var(--first-color);
   
}

a{
    color:var(--title-color);
    text-decoration: none;
}


h1{
    margin: 0;
    color: var(--title-color);
    font-size: 2rem;

}
h2{
    margin: 0;
    font-size: 1.5rem;
    text-align: center;
    color: var(--title-color);

}
h3{
    color: var(--title-color);
    margin: 0;
    font-size: 1.25rem;
}
h4{
    color: var(--title-color);
    margin: 0;
    font-size: 1rem;
}
/* img responsive */
img{
    max-width: 100%;
    height: auto;
}

p{
    line-height: 1.6;
   
}
button{
    border: none;
    outline: none;
    cursor: pointer;
}
/* Utilities */
.container{
    margin-left: auto;
    margin-right: auto;
    max-width: var(--max-width);
   
   
}
.none{
    display: none;
}
/* Site styles */
.header{

    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 998;
    width: 100%;
    height: var(--height-nav);

  
}
.section-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    box-shadow: 0px -13px 10px -7px rgba(0, 0, 0, 0.3);
    background-color: var(--container-color);
    
    
   
}
.section-menu .logo {
 color :var(--title-color-);


}
.btns-menu{
   
    border-radius: 50%;
    background-color: transparent;
    padding: 5px;
  
    display: flex;
    align-items: center;
    gap: 1rem;
}
.btn-menu{

    background-color: transparent;
    
}




 .nav-menu{
   
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: repeat(2,60px);
    justify-content: space-between;
    align-items: center;
    gap: 20px;
   position: fixed;
   left: 0;
   
   bottom: 4rem;
   width: 100%;
   opacity: 0;
   pointer-events: none;
   border-top-left-radius: 20px;
   border-top-left-radius:20px ;
 
 transition: opacity 0.5s ease-out;
 background-color:var(--container-color)

   
}
/*Mostrar menu */
.close-menu{
    opacity: 1;
    pointer-events: auto;
    box-shadow: 0px -13px 10px -7px rgba(0, 0, 0, 0.2);
}


.nav-items {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
 padding:0.5rem; 
cursor: pointer; 


}




.container-home{
   display: grid;
   grid-template-columns:.5fr 3fr;
   grid-template-rows: auto;
 grid-template-areas: "redes perfil"
                      "info info";

  
   
}
.container-home-redes{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    grid-area: redes;
}
 .container-user-profile{
    grid-area: perfil;
   width: 280px;
   height: 280px;
    overflow: hidden;
    border-radius: 100%;
    position: relative;
margin: auto;
}

.container-user-profile .user-img{
  position:absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: -3.5rem;
  width: 220px;
 
  
}
.home-information{
    grid-area: info;
 
    padding: 1rem;
   display: flex;
   justify-content:space-between;
   flex-direction: column;
   align-items: flex-start;
}
.btn{
    display: inline-block;
    margin-top: 1rem;
    width:90%;
 
    background-color: var(--title-color);
    color: var(--container-color);
    padding: 1rem 2rem;
    border-radius: 1rem;
    font-weight: bold;
     text-align: center;
 }

  
.btn.cv{
    color: var(--first-color);
    background-color: transparent;
    border: 1px solid var(--title-color);
}

/**Acerca de mi**/
.about{
    margin: 2rem auto;
}
.container-info-about{
    margin:2rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about-img{
    width: 50%;
    border-radius: 10px;
    max-height:400px;

}
.container-info-about-datos{
    display: flex;
    flex-direction: column;
 
    align-items: center;
    height: 100%;
    padding: 1rem;
}
/* Portafolio */
.portafolio{
    margin-top: 1rem;
 
    
}
.container-btns-projects-header{
    display: flex;
    justify-content: space-between;
     width: 90%;
 
    margin:1.5rem auto;
}
.verMas{
    width: auto;
    border: 25px;
    margin-top: 0;
    padding: 5px;

}
.projects{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(4,400px);
   gap: 2rem;


}
.container-btns-projects-header h2{
    color: var(--title-color-dark);
}
.container-project{
    background-color: var(--bg-blur);
    backdrop-filter:blur(10px);
    padding: 1rem;
    border-radius: 1rem;
  
}

.container-project img{
    border-radius: 1rem;
    width:100%;
    height: 60%;

}
.container-info-project{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
}

.container-info-project p{
    margin-top: 0.5rem;
}

.container-info-project .btn-project-portfolio{
   

    display: inline-block;
    border-radius: 5px;
  padding:0.5rem;
  display: inline-block;
  width: auto;
  
width: 90%;
  text-decoration: none;
  background-color: var(--title-color);
  color: var(--container-color);
}


 /* Educacion */
 .educacion{
 

    margin-bottom: 2rem;
   }
.educacion h2{
    margin-bottom: 2rem;
    color: var(--title-color-dark);
 
   
}
.container-educacion{
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: repeat(2,auto);
}
.items-estudios{
  
    width: 100%;
    
}
.list-item{
    width: 100%;
    list-style-type: none;
   text-align: start;
   overflow: hidden;
}
.list-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1rem;
}
.list-button p{
    margin: 0 0.5rem;
}
.list-arrow{
    margin-left: auto;
}

.item-click{
   cursor: pointer;
}

.mostrar-lista{
    width: 80%;
    transition:height .4s ;
    height: 0;
   
}
.list-inside{
    padding: 0.5rem;
    
}
.arrow .list-arrow{
    transform: rotate(90deg);
}
.list-arrow{
    transition: transform .3s;
}
/* Formulario */
.contacto{
   
    width: 100%;
    border-radius: 5px;

    
}
.contacto h2{
    color: var(--title-color-dark);
    margin: 1rem;
}
.container-options-form{
    display: grid;
    grid-template-columns: repeat(1,auto);
    grid-template-rows: repeat(2,auto);
}

.grid-info-contact{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 0.5rem;
    margin: 1rem auto;
    width: 90%;
    height: 50%;
    border-radius: 5px;
    
}
.item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: 1rem;
    padding: 1rem;
    color: var(--title-color-dark);
    background-color: var(--body-color);
    border: 3px solid var(--title-color-dark);
    border-radius: 10px;
   
}

.item svg{
    fill:var(--title-color-dark);
}
.item-p{
    margin: 0;
 
}


.form{
 width: 100%;

  height: 100%;
  display:grid;
  grid-template-columns: repeat(1,1fr);
  grid-template-rows: repeat(6,auto);
 gap: 1rem;
}
.form-seccion{
    position: relative;
    
    margin: 20px;
}


 .input-form{
    width: 100%;
   background-color: transparent;;
   color: var(--white);
   height: 3rem;
    padding: 10px;
    border:  3px solid var(--text-color);
    border-radius: 5px;
    outline: none;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    margin: 10px;
   
}
.input-form:focus + .form-label,
.input-form:not(:placeholder-shown) + .form-label{
transform: translateY(-12px) scale(.9);
transform-origin: left top;
color:var(--body-color);

}
.form-label{
cursor: pointer;


position: absolute;
top: 0;
left: 20px;
transform: translateY(15px);
transition: transform .5s ;

}
.input-form-correcto,
.textarea-form-correcto{
  border: 3px solid #53ba83;
  
}
.input-form-incorrecto,
.textarea-form-incorrecto{
   border: 3px solid #a22c27;
}
.form-input-error{
    font-size: 12px;
    color: #a22c27;
    margin-top: 0.5rem;
    
}
.form textarea{
    border-radius: 10px;
    width: 100%;
    height: 80%;
    resize: none;
    outline:none;

    
  

}
.enviar{
    width: 80%;
    cursor: pointer;
background-color: var(--title-color);
color: var(--body-color);
font-weight: bold;
margin: 0 auto;
}


.container-loader{
    text-align: center;
    margin: 2rem;
}


/* ********** Modal ********** */
.modal{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
   
}
.modal#gracias:target{
    opacity: 1;
    pointer-events: auto;
}
  
  .container-modal{
    height: 60%;
    max-width: 500px;
    width: 90%;
    background-color: white;
    border-radius: 5px;
    text-align: center;
    overflow: hidden;
    color: var(--black);

  }
  .container-img-modal{
    height: 200px;
    width: auto;
  }
  .container-img-modal img{
    width: 100%;
    height: 100%;
  }
  
  

footer{
    margin-top: 1rem;
    margin-bottom: 4rem;
   height:6rem;
   background-color: var(--color-1);
   
}
.container-footer{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    width: 90%;
    height: 100%;
  
  

}
.container-footer svg{
  fill: var(--white);
    cursor: pointer;
    background-color: transparent;
    border-radius: 50%;

}

/* light-mode */
.light-mode{
    background-color:#EFEAE2 ;
   color:var(--black);
    fill: var(--first-color); 

}

.light-mode-menu-link-svg{
    fill: var(--first-color);

}
.light-mode-container-project{
    color:var(--black);
    background-color: var(--white);
    box-shadow: 7px 4px 38px -3px rgba(0,0,0,0.44);
    fill: var(--first-color);
}




.btn-scroll-top{
    position: fixed;
    z-index: 997;
    background-color:var(--title-color);
    bottom:  6rem;
    right: 1.2rem;
    border-radius: 1rem;
    padding: 0.8rem;
    transition: all 0.3s ease-in-out;
    fill: var(--body-color);
}
.btn-scroll-top svg{
    pointer-events: none;
}
.hidden{
    opacity: 0;
    visibility: hidden;
}

/* Media queries Tableta */
@media screen and (min-width:768px){
    .container-home{
        padding:8rem 6rem;
        grid-template-columns: .5fr 2fr 1fr;
       grid-template-rows:1fr;
        grid-template-areas:"redes info perfil ";
    }
    .container-home-redes{
        grid-area: redes;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        

    }
    .container-user-profile{
        grid-area: perfil;
    }
    .home-information{
        grid-area: info;
    }
.container-info-about{
   
    flex-direction: row;
    justify-content: center;
    align-items: center;

    }
    .container-info-about >*{
        width: 50%;
    }
    .about-img{
        object-fit: contain;
        border-radius: 20px;
    }
    .container-info-about-datos{
        justify-content: space-evenly;
        height: 100%;
    }
.container-info-about-datos a{
    display: inline-block;
    width: 50%;

}
    .container-educacion{
        grid-template-columns: repeat(2,auto);
        grid-template-rows: 1;
    }

    .projects{
       
        grid-template-columns: repeat(2,auto);
        grid-template-rows: repeat(2,400px);
       
      
    }
    .grid-info-contact{
        grid-template-columns: repeat(3,auto);
        grid-template-rows: repeat(1,1fr);
    }
    
    
    
 }
/* Portatiles */
@media screen and (min-width:1024px){
    .header{
        position: sticky;
        top: 0;
      
    }
    .section-menu{
        box-shadow: 0;
        padding: 1;
        
    }
    .section-menu .btn-menu{
        display: none;
    }
    
    .nav-menu{
        width:auto;
        position: static;
        opacity: 1;
        pointer-events: auto;
       display: grid;
       grid-template-columns: repeat(5,auto);
       grid-template-rows: repeat(1,1fr);
       box-shadow: 0;
    
    }
  
    .nav-menu a{
        padding: 0 1rem;
        font-size: 1rem;
    }
    .nav-items svg{
        display: none;
    }

 
   
   /* about */
   .about{
    padding:6rem 6rem;
   }
  /* Portafolio */
  .portafolio{
    padding:6rem 6rem;
    height: auto;
 
 
  }
 
  .projects{
   
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(1,400px);
 
  
    }
    /*Educacion*/
.educacion{
    padding:6rem 6rem;

}
    .contacto{
        padding:6rem 6rem; 
    }

    /* form */
   
    .container-options-form{
    
        grid-template-columns:.2fr auto ;
        grid-template-rows: auto
    }
    .grid-info-contact{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3,100px);
        justify-content: center;
        
    }
    .form{
     
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 1fr 1fr 1fr .5fr;
        grid-template-areas:"name mail"
                " motives motives "
                "message message "
                "btn .";
      

        
    }
  
    .form p{
        margin: 0 auto;
        width: 90%;
    }
   
    .form-seccion{
     
        width: 90%;
        margin: 0 auto;
    }
  .form-seccion.name{
        grid-area: name;
    }
    .form-seccion.email{
        grid-area:mail;
       
    }
    .form-seccion.motives{
        grid-area: motives;
       
    }
    .form-seccion.message{
        grid-area:message;
  
  
      
    }
    .enviar{
        grid-area: btn;
    
        display:inline-block;
        width: 80%;
      margin: 0 auto;
       
    }
   footer{
    margin-bottom: 0;
   }
}


.oculto{
   opacity: 0;
   filter:blur(10px);
   transform: translateX(-100%);
   transition: all 1s;

}
.mostrar-seccion{

    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}
