/* Custom Properties */
:root{
    --blue-primary:#29599D;
    --blue-primary-75:rgba(41, 89, 157, 0.75);
    --purple-dark:#5A189A;
    --purple:#9D4AED;
    --purple-pastel:#C77DFF;
    --black:#363440;
    --white:#fcfbfb;
    --grey-dark:#3B3941;
    --grey-soft:#575A62;
    --font:'Poppins', sans-serif;
    --max-width:1200px;
}
/* Reset */
html{
    box-sizing: border-box;
    font-family: var(--font);
    font-size: 16px;
    scroll-behavior: smooth;
}
*,
*::after,
*::before{
    box-sizing: inherit;
}
/* PARA QUITAR POR DEFECTO LOS MARGENES QUE TIENE EL NAVEGADOR */
body{
    margin: 0;
    overflow-x: hidden;
    color: var(--white);
    background-color: var(--black);
}

a{
    color: var(--white);
    transition: color 0.5s ease-out;
}


h1{
    margin: 0;
    font-size: 2rem;
}
h2{
    margin: 0;
    font-size: 1.5rem;
}
h3{
    margin: 0;
    font-size: 1.25rem;
}
h4{
    margin: 0;
    font-size: 1rem;
}
/* img responsive */
img{
    max-width: 100%;
    height: auto;
}
main{
    background-color:#181818 ;
}
p{
    line-height: 1.6;
}
/* Utilities */
.container{
    margin-left: auto;
    margin-right: auto;
    max-width: var(--max-width);
}
.none{
    display: none;
}
/* Site styles */
.header{
    background-color: #282934;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 999;
    /* al ser fixed pierde sus valores de ancho y alto y hay que establecerla devuelta */
    width: 100%;
    height: 4rem;
}
.section-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
.section-menu .logo span{
    color: var(--purple-dark);


}
.section-menu .btn-menu{
    outline: none;
    border: none;
    border-radius: 50%;
    background-color: transparent;
    padding: 5px;
    cursor: pointer;
}
.section-menu .btn-menu svg{
    fill: var(--purple-dark);
 
}
 .nav-menu{
    display: flex;
    flex-direction: column;
   position: fixed;
   left: 0;
   bottom: 4rem;
   width: 100%;
   background-color:#282934;
   opacity: 0;
   pointer-events: none;
 transition: opacity 0.5s ease-out;
   
}
/*Mostrar menu */
.close-menu{
    opacity: 1;
    pointer-events: auto;
}
.nav-menu a{
    text-decoration: none;
    font-size: 1.5rem;
    padding: 1rem;
    cursor: pointer;
    text-align: center;

}
.nav-menu a:hover {
    color: var(--white);
   background-color: #C77DFF;
}

.hero{
    height: 100vh;
    background-color: #282934;
    overflow-y: hidden;
}
.container-hero{
    display: flex;
    flex-direction: column;
    align-items: center;
 
  
   
}

.hero-img{
 width: 300px;
 height: 250px;

 

}
.hero-img img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.hero-information{
   
    text-align: center;
    padding: 1rem;
   
}
 .hero-information .btn{
    padding: 12px;
    text-decoration: none;
    font-size: 1rem;
    display: block;
    border-radius: 5px;
    margin: 2rem;
    
 }
 .btn.cta{
    background-color: #C77DFF;
    color: white;
    
  
 }
 .btn.projects{
    text-align: center;
    border: 1px solid var(--grey-dark);

 }
 /* Section projects */
.container-projects{
    display: grid;
    grid-template-columns:repeat(1,1fr) ;
    align-items: center;
    width: 90%;
    gap: 15px;
    height: auto;
    margin: 2rem auto;
   
}
 .project{
    width: 100%;
    height: 300px;
    overflow: hidden;
    border-radius: 5px;
    
 }
 

/* Media queries Tableta */
@media screen and (min-width:768px){
    .container-projects{
        grid-template-columns:repeat(3,1fr) ;
        grid-template-rows: repeat(2,1fr);
        grid-template-areas: "project1 project2 project3"
                             "project1 project4 project5" ;
    }
    .project{
        height:300px;
        filter:brightness(50%);
    }
    .project:hover{
        filter:brightness(100%); 
    }
    .item1{
        grid-area:project1 ;
        height: 100%;
    }
    .item2{
        grid-area:project2 ;
    }
    .item3{
        grid-area:project3 ;
    }
    .item4{
        grid-area:project4;
    }
    .item5{
        grid-area:project5;
    }
}
/* Portatiles */
@media screen and (min-width:1024px){
    .header{
        position: sticky;
        top: 0;
    }
    .section-menu{
        padding: 1;
    }
    .section-menu .btn-menu{
        display: none;
    }
    .nav-menu{
        width:auto;
        position: static;
        flex-direction: row;
        opacity: 1;
        pointer-events: auto;
       
        
    }
    .nav-menu a{
        padding: 0 1rem;
        font-size: 1rem;
    }
    .nav-menu a:hover{
        background-color: transparent;
        color: var(--purple-pastel);
    }
    /* Descargar cv menu desktop */
    .btn-cta{
        display: block;

    } 
    .btn-cta button{
        color: var(--white);
        border-radius: 25px;
        padding: 8px;
        background-color: transparent;
        border: 1px solid var(--grey-dark);
        cursor: pointer;
        font-family: inherit;
        
    }
    /* Container hero */
    .container-hero{
        flex-direction: row-reverse;
        
    }
    .container-hero >div{
        width: 50%;
        height: 500px;
    }
    .hero-img {
        width: 100%;
        
    }
    .hero-img img{
        border-radius: 5px;
        width: 80%;
    }
    .hero-information{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .hero-information .btn{
        display: inline-block;
        margin: 1rem;
        padding: 1rem 1.5rem;
    }
  
}
